/* Some public style */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ========== Mobile hidden menu ========= */
#hidden-menu {
  display: none;
  background-color: #3c3a39;
  width: 98%;
  height: 97vh;
  position: fixed;
}

.hidden-item {
  border-bottom: thin solid gainsboro;
  padding: 0 0 1.5rem 1rem;
}

.hidden-item a {
  color: white;
  font-size: 3rem;
  margin-bottom: 0.8rem;
  font-weight: 700;
  list-style: none;
}

.hidden-item-con {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: white;
}

.hidden-item-con a {
  text-decoration: none;
}

.cancel {
  margin-top: 0;
  margin-right: 0;
}

.cancel-img {
  display: block;
  position: absolute;
  right: 30px;
  top: 30px;
}

.cancel-img:hover {
  cursor: pointer;
}

/* ============== Header part ========== */

.navbar-con {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  height: 9vh;
  align-items: center;
  align-content: center;
}

.logo {
  padding-left: 30px;
}

.hidden-menu {
  display: none;
}

.menu-icon {
  padding-right: 30px;
}

.menu {
  display: none;
}

.headline-intro {
  background-color: #1c1a19;
  background-image: url('img/najib1.png');
  background-repeat: no-repeat;
  background-position: 10px -97%;
  padding: 0 1.2rem 6rem 1.2rem;
}

.headline-h1 {
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-weight: normal;
  font-size: 5rem;
  padding-top: 5rem;
}

.headline-description {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem !important;
}

.headline-support {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  padding: 1rem 0 1rem 0;
}

.headline-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.headline-container {
  padding-left: 30px;
}

.social-icon {
  color: #dbd8d7;
  padding-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 45%;
  margin: 40px;
}

.social-icon a {
  marker: none;
}

/* Section project and works */

.section-work {
  padding: 0 2rem 6rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.work-h2 {
  margin: 96px 48px;
  color: #1c1a19;
  font-family: 'Crete Round', sans-serif;
  font-weight: normal;
  font-size: 2.3rem;
  text-align: center;
  border-bottom: 1px solid #212121;
  padding: 16px;
}

.multiple-post-header-img {
  width: 100%;
}

.multiple-post-genral {
  font-family: 'Crete Round', sans-serif;
  color: #fff;
  font-weight: normal;
  font-size: 2rem;
  padding: 1.5rem 0 1rem 0;
  margin: 0;
}

.multiple-post-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  padding: 24px;
}

.work-lanaguage {
  display: flex;
  gap: 0.6rem;
  margin-top: 1rem;
  align-items: flex-start;
  margin-left: 0;
  padding-left: 0;
}

.work-yoga-img {
  box-shadow: 2px 2px 5px #272422;
  transition: box-shadow 0.3s ease-in-out;
}

.work-yoga-img:hover {
  box-shadow: 4px 4px 10px #272422;
}

.work-first-lang {
  border: 1px solid #8993a4;
  font-family: 'Inter', sans-serif;
  color: #091e42;
  padding: 0.6rem 0.7rem;
  display: inline;
  font-size: 1rem;
}

.work-genral-header {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 44px;
  color: #fff;
  padding-top: 12px;
  padding-left: 20px;
}

.work-genral-header-first {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  width: 100%;
}

.work-lang-box {
  font-family: 'Inter', sans-serif;
  padding: 0.6rem 0.7rem;
  display: inline;
  font-size: 1rem;
  list-style: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
}

.work-first-box a {
  color: #fff;
}

.button-action-first {
  background-color: #fc6703;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  padding: 0.7rem;
  margin-top: 11px;
  scroll-behavior: smooth;
}

.button-action-first:hover {
  background: #fff5e1;
  color: #f55800;
}

.button-action {
  background-color: #fc6703;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 1.1rem;
  padding: 0.9rem;
  scroll-behavior: smooth;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  border: none;
}

.button-action:hover {
  background: #fff5e1;
  color: #f55800;
}

.work-public-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.multiple-post-description-first {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.panel-container {
  background-image: linear-gradient(
      179.4deg,
      rgba(38, 38, 38, 0) 0.81%,
      rgba(38, 38, 38, 0.9) 84.03%
    ),
    url(image/cardbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.card-language-con {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  padding: 12px;
}

.multiple-post-panel {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* == Aboutn me section == */

.pop-nav {
  display: none;
}

.section-about-me {
  background-color: #1c1a19;
  background-image: url('image/illustration-about-me-mobile.png');
  background-repeat: no-repeat;
  background-position: 100% 20rem;
}

.about-me-h2 {
  text-align: center;
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-weight: normal;
  font-size: 4rem;
}

.about-me-summary-box {
  background-repeat: no-repeat;
  background-position: bottom right;
  border-bottom: 1px #fff solid;
  padding-bottom: 8rem;
}

.about-me-description {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding-bottom: 30px;
}

.btn-resume {
  background-color: #fc6703;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 1.1rem;
  padding: 0.7rem;
  scroll-behavior: smooth;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  border: none;
}

.btn-resume:hover {
  background: #fff5e1;
  color: #f55800;
}

.about-text-box {
  padding: 40px;
  padding-top: 7rem;
}

.skills-group {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.skill-title {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin: 3rem 0;
}

.skill-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1.3rem;
  padding: 12px;
  gap: 24px;
}

.skills-title-box {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 12px;
}

/* scetion form  */

.section-contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  font-family: 'Inter', sans-serif;
  border-bottom: 1px solid #dfe1e6;
}

.contact-form-h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #172b4d;
  text-align: center;
  line-height: 2.5rem;
  padding: 0 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #dfe1e6;
  padding: 0 2rem 2rem 2rem;
  margin-top: 3rem;
  gap: 2.5rem;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-bottom: 1px solid #dfe1e6;
  padding: 0 2rem 2rem 2rem;
}

.form-icon {
  width: 100%;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

#text-form {
  height: 7rem;
  background-color: #f5f2f1;
  border: none;
  padding: 1.2rem;
  margin-bottom: 1.2rem;
}

.icon {
  fill: #505f79;
}

.form-input {
  padding: 1.2rem;
  width: 80vw;
  border: none;
  font-size: 1rem;
  line-height: 1.5rem;
  border-bottom: 1px solid #dbd8d7;
}

.first-panel {
  background-image: linear-gradient(179.4deg, rgba(121, 56, 3, 0.7) 0.81%, rgb(0 0 0 / 90%) 84.03%),
    url(./img/bookstore.png);
}

.second-panel {
  background-image: linear-gradient(179.4deg, rgba(121, 56, 3, 0.7) 0.81%, rgb(0 0 0 / 90%) 84.03%),
    url(./img/worldvista.png);
}

.thirth-panel {
  background-image: linear-gradient(179.4deg, rgba(121, 56, 3, 0.7) 0.81%, rgb(0 0 0 / 90%) 84.03%),
    url(./img/legendary.png);
}

.fourth-panel {
  background-image: linear-gradient(179.4deg, rgba(121, 56, 3, 0.7) 0.81%, rgb(0 0 0 / 90%) 84.03%),
    url(./img/awesome.png);
}

.fifth-panel {
  background-image: linear-gradient(179.4deg, rgba(121, 56, 3, 0.7) 0.81%, rgb(0 0 0 / 90%) 84.03%),
    url(./img/leader_board.png);
}

.sixth-panel {
  background-image: linear-gradient(179.4deg, rgba(121, 56, 3, 0.7) 0.81%, rgb(0 0 0 / 90%) 84.03%),
    url(./img/space.png);
}

.seventh-panel {
  background-image: linear-gradient(179.4deg, rgba(121, 56, 3, 0.7) 0.81%, rgb(0 0 0 / 90%) 84.03%),
    url(img/budgetpro.png);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.genral-panel {
  box-shadow: 2px 2px 5px #272422;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

/* ===================================== responsive part break point ============================================  */

@media screen and (min-width: 768px) {
  .cancel-img {
    padding-right: 30px;
  }

  .headline-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .headline-container {
    padding-left: 60px;
  }

  .menu-icon {
    display: none;
  }

  .menu a {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
  }

  .menu {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    display: flex;
    gap: 3.2rem;
    list-style: none;
    padding-right: 30px;
  }

  .work-genral-header {
    font-size: 22px;
  }

  .headline-intro {
    background-image: url('img/najib1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 0;
  }

  .social-icon {
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.2rem;
    margin-left: 0.5rem;
    margin-top: 0;
    position: absolute;
    top: 12rem;
  }

  .work-container {
    margin: -1rem;
    display: flex;
    align-items: center;
  }

  .section-work {
    padding: 6rem;
  }

  .work-first-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .lang-panel1 {
    display: none;
  }

  .line {
    height: 1px;
    width: 100%;
    background-color: #212121;
  }

  .panel-container {
    width: 100%;
    position: relative;
    height: 50vh;
  }

  .multiple-post-header-img {
    float: left;
    width: 100%;
  }

  .panel-text-box {
    padding-left: 60%;
    margin-top: 2px;
  }

  .button-action-first {
    display: flex;
  }

  .button-action {
    display: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease;
  }

  .panel-container p,
  .panel-container ul,
  .panel-container h3 {
    opacity: 1;
    transition: opacity 0.8s ease;
  }

  .panel-container:hover h3,
  .panel-container:hover p,
  .panel-container:hover ul {
    pointer-events: none;
    display: none;
    opacity: 1;
  }

  .panel-container:hover a {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 1;
    pointer-events: initial;
  }

  .button-action-first-card {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 1;
    background-color: #fc6703;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 1.1rem;
    padding: 0.7rem;
    scroll-behavior: smooth;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border: none;
  }

  .button-action-first-card:hover {
    color: #f55800;
    background: #fff5e1;
  }

  .work-h2 {
    border-bottom: none;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .work-public-container {
    padding: 12px;
  }

  .multiple-post-panel {
    flex-direction: row;
  }

  .card-language-con {
    position: absolute;
    bottom: 1%;
    left: 6%;
    padding-left: 12px;
  }

  .multiple-post-description {
    bottom: 24%;
    padding-left: 12px;
    font-size: 16px;
  }

  .panel-img-box {
    width: 60%;
  }

  .button-action :hover {
    display: flex;
    background-color: #fc6703;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 1.5rem;
    padding: 1.5rem;
    scroll-behavior: smooth;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border: none;
  }

  .btn-about {
    display: flex;
  }

  .about-me-summary-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-me-description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  .about-me-cotainer {
    width: 100%;
  }

  .section-about-me {
    background-image: url(image/largaboutme.png);
    background-repeat: no-repeat;
    background-position: 100% 12rem;
    background-size: 40rem;
    width: 100%;
    padding-bottom: 60px;
  }

  .about-me-h2 {
    text-align: left;
  }

  .skills-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem;
  }

  .skill-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .skill-ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;
  }

  .contact-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 150px;
    padding-right: 150px;
  }

  .contact-form {
    text-align: start;
  }

  .form-input {
    width: 100%;
  }

  .btn-resume {
    display: flex;
  }

  .contact-form-h2 {
    text-align: left;
  }

  .hidden-menu {
    display: none;
  }
}

/* overlay stylesheet */

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#overlayContent {
  background-color: white;
  width: 80%;
  height: auto;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

#closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 767px) {
  #overlayContent {
    width: 90%;
  }
}

/* ****************************** POP UP STYLE ************************** */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.section-popup {
  border-radius: 10px;
  height: 95vh;
  width: 90vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 10;
  background-color: #fff;
}

.p-header-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.p-heading-primary {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.4rem;
  columns: #172b4d;
  margin-bottom: 2.4rem;
}

.p-cross-btn {
  cursor: pointer;
  padding: 8px;
  width: 3rem;
  height: 3rem;
}

.p-tech-box {
  display: flex;
  gap: 1.2rem;
}

.p-tech-item {
  font-size: 1.3rem;
  padding: 0.8rem;
  border: 1px solid black;
}

.p-primary-image {
  width: 90vh;
  box-shadow: 4px 4px 10px #272422;
  transition: transform 0.3s ease-in-out;
}

.p-primary-image:hover {
  transform: scale(0.88888); /* Adjust the scale factor as needed */
}

.p-description-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.p-description {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #344563;
}

.p-button-box {
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.btn {
  color: #fff;
  padding: 1.2rem 1.6rem;
  background-color: #ff5b00;
  font-size: 1.7rem !important;
  font-weight: 700;
}

.btn--popup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn--popup:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

/* Overlay */

.overlay2 {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

.hide-scroll {
  overflow: hidden;
}

/* ************** *
* RESPONSIVE PAGE *
**************** */

@media (min-width: 768px) {
  .p-hero-box {
    display: grid;
    grid-template-columns: 55fr 45fr;
    column-gap: 3rem;
    align-items: center;
  }

  .p-button-box {
    justify-content: start;
  }
}
